<footer class="footer">
    <div class="container">
        <center><img src="../assets/logo-small-01.png"></center>
        <center style="color: #444;">made with &#x2665;  2013 www.crowdimpact.org</center>
    </div>
</footer>